html, body, div, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /*#76b852
  #007042*/
  a {
    text-decoration: none;
  }

  .clear {
    clear: both;
  }
  
  body {
    background: #2f323a;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
  .center {
    margin: auto;
    width: 100%;
    border: 3px solid #007042;
    padding: 10px;
    text-align: center;

  }
  h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: "Lucida Sans Unicode", sans-serif;
  }
  


  
  .main-container {
    display: flex;
    margin: 2em auto;
    width: 50%;
    background: rgb(255, 255, 255,0.9);
    background-size: cover;
    
  }
  
  .sub-container {
    padding: 2em;
    width: 50%;
    margin: 2em auto;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #000000;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(0, 0, 0, 0.37);
    
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
  
  input.email, input.text.w3lpass {
    margin: 2em 0;
  }
  
  .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(0, 0, 0);
    font-size: .9em;
    -webkit-transform: translateY(-30px); /*type karann patan gaddi wachane ayin karnawa*/
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
  }
  
  ::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: 100;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    color: rgb(0, 0, 0);
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(0, 0, 0);
  }
  
  :-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }
  
  input[type="submit"] {
    font-size: .9em;
    color: rgb(0, 0, 0);
    background: #007042;
    outline: none;
    border: 1px solid #007042;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
  
  input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background:#007042;
  }
  
  .sub-container p {
    flex: 50%;
  padding: 10px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .sub-container p a {
    color: #000000;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
  }
  
  .sub-container p a:hover {
    color: #007042;
  }
  
  /*-- //main --*/
  /*-- checkbox --*/
  .wthree-text label {
    font-size: 0.9em;
    color: #000000;
    font-weight: 200;
    cursor: pointer;
    position: relative;
  }
  
  input.checkbox {
    background:#007042;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
  }
  
  input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
  }
  
  input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid rgb(0, 0, 0);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: rgb(0, 0, 0);
    border-top-color: transparent;
    border-right-color: transparent;
  }

  .footer{
    margin: 2em 0 1em;
    text-align: center;
  }
  
  .footer p {
    font-size: .9em;
    color: #ffffff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 100;
  }
  
