html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
 
  a {
    text-decoration: none;
  }

  .clear {
    clear: both;
  }
  
  body {
    background: #76b852;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
  }
  
  
  .main-container {
    margin: 2em auto;
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: cover;
  }
  
  .sub-container {
    padding: 3em;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  
  input.email, input.text.w3lpass {
    margin: 2em 0;
  }
  
  .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
  }
  
  ::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  
  :-ms-input-placeholder {
    color: #fff;
  }
  
  input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
  
  input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
  }
  
  .sub-container p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .sub-container p a {
    color: #fff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
  }
  
  .sub-container p a:hover {
    color: #76b852;
  }
  
  /*-- //main --*/
  /*-- checkbox --*/
  .wthree-text label {
    font-size: 0.9em;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
  }
  
  input.checkbox {
    background: #8DC26F;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
  }
  
  input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
  }
  
  input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #fff;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  .footer{
    margin: 2em 0 1em;
    text-align: center;
  }
  
  .footer p {
    font-size: .9em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 100;
  }
  
