@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/*.center {
    margin: auto;
    width: 100%;
    border: 3px solid #007042;
    padding: 10px;
    text-align: center;
    color: black;
  
  }*/
  .content{
    background-color: #c8cf94;

  }
  .subcontent{
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    color: #22242a;
  }

  *{
    list-style: none;
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
  }
  .view{
    margin-left: 100px;
  }
  

  .wrapper{
    display: flex;
    orientation: landscape;
    margin-top: -80px;
    justify-content: center;
    align-items: center;
    
    
  }
   

  .list_wrap{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 585px;
    background: darkblue(0,0,0,0.4);
    width: 300px;
    margin-top: -270px; 
    /* orientation: portrait; */
    height:450px;
    /* margin-left: -200px; */
    /*box-shadow: -1px -1px 60px 10px black inset;*/
  }

  .list_wrap ul li{
    background:#007042;
    margin-top: 2px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 15px 15px;
    width: 200px;
    padding-right:1px ;
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 22px;
    border-radius: 50px;
    position: -webkit-sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
     
  }
  .list_wrap ul li :last-child{
    margin-bottom: 0;
  }
 
  .dash1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-left: 40px;
  }

  .dash2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-left: 280px;
  }
  
  .dash3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 50px;
    margin-left: 40px;
  }

  .dash4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 50px;
    margin-left: 280px;
  }
  .footer{
    text-align: center;
    margin-left: 200px;
   
    
  }


  
 
