
.content{
    background-color: #c8cf94;

  }
.labl1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-left: 40px;
  }

.labl2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-left: 280px;
  }
  
  .labl3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 50px;
    margin-left: 40px;
  }

  .labl4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-top: 50px;
    margin-left: 280px;
  }