@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html,body, div, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 
}
html,body{
  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
}
.content{
  background-color: #c8cf94;
}
.center {
    margin: auto;
    width: 100%;
    border: 3px solid #007042;
    padding: 10px;
    text-align: center;
    color: black;
  
  }
  .contentch{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color:#2f323a;
    text-align: center;
  }
  
  .list_wrap{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 585px;
    background: darkblue(0,0,0,0.4);
    width: 300px;
    margin-top: 78px; 
    /* orientation: portrait; */
    height:450px;
    /* margin-left: -200px; */
    /*box-shadow: -1px -1px 60px 10px black inset;*/
  }
  .income{
      margin-top: 20px;
      margin-left: 50px;
      margin-right: auto;
      border: 2px solid black;
      text-align: center;
      width: 35%;
      font-style: oblique;
      
      
  }

*{
    list-style: none;
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  .view{
    margin-left: 60px;
    font-size: 22px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .wrapper{
    display: flex;
    orientation: landscape;
    margin-top: -430px;
    justify-content: center;
    align-items: center;
   
    
  }

  .list_wrap ul li{
    background:#007042;
    margin-top: 2px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 15px 15px;
    width: 200px;
    padding-right:1px ;
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 22px;
    border-radius: 50px;
    position: -webkit-sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
     
  }
  .list_wrap ul li :last-child{
    margin-bottom: 0;
  }
 .income1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-left: 40px;
 }
 .income2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin-top: 30px;
  margin-left: 280px;
 }
 .income3{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin-top: 50px;
  margin-left: 40px;
 }
 .income4{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin-top: 50px;
  margin-left: 280px;
 }
 p{
   padding-top: 1.2%;
 }
 .footer{
  
  text-align: center;
 /* position:absolute;*/
  /*bottom:0;*/
  width:105%;
  background:#2f323a;
  height:38px;
  margin-top: 106px;
  margin-left: -3%;
} 
