

html,body, div, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 
}
html,body{
  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
}
/*.content{
  background-color: rgb(244, 248, 247);
}*/
.center {
    margin: auto;
    width: 100%;
    border: 3px solid #007042;
    padding: 10px;
    text-align: center;
    color: black;
  
  }
  .contentch{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color:#2f323a;
    text-align: center;
  }
  
 
  .income{
      margin-top: 10px;
      margin-left: 50px;
      margin-right: auto;
      border: 2px solid black;
      text-align: center;
      width: 35%;
      font-style: oblique;
      
      
  }

*{
    list-style: none;
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  .view{
    margin-top: 450px;
    margin-left: -370px;
    font-size: 20px;
    color: rgb(27, 13, 13);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .wrapper{
    display: flex;
    orientation: landscape;
    margin-top: -430px;
    justify-content: center;
    align-items: center;
   
    
  }
   .list_wrap{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 20px;  /*modifed*/
    background: white;
    width: 700px;   /*modifed*/
    margin-top: 500px;  /*modifed*/
   /* orientation: portrait; */
    height:460px;  /*modifed*/
     /*margin-left: -200px; */
   /* box-shadow: -1px -1px 60px 10px black inset;*/
  }

  /*.list_wrap ul li{
    background:#007042;
    margin-top: 2px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 15px 15px;
    width: 220px;  
    padding-right:1px ;
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px; 
    border-radius: 50px;
    position: -webkit-sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
     
  }*/
  .list_wrap ul li :last-child{
    margin-bottom: 0;
  }
 .incomes{
    font-size: 17px;     /*modifed*/
    padding-top: 30px;    /*modifed*/
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 .income1{
  color: #007042;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 260px;        
  height: 150px;      
  margin-top: 30px; 
  border-left: #007042;
  border-width: 10px;
  border-left-style: solid; 
  margin-left: 30px;
 }
 .income2{
  color: #1e3464;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 260px;     
  height: 150px;     
  margin-top: -150px;   
  margin-left: 340px;   
  border-left: #1e3464;
  border-width: 10px;
  border-left-style: solid;
 }
 .income3{
  color: #6D6E31;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 260px;   /*modifed*/
  height: 150px;  /*modifed*/
  margin-top: -150px;  /*modifed*/
  margin-left: 650px;  /*modifed*/
  border-left:#6D6E31;
  border-width: 10px;
  border-left-style: solid;
 }
 .income4{
  color: #6a933e;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 260px;   /*modifed*/
  height: 150px;  /*modifed*/
  margin-top: -150px;  /*modifed*/
  margin-left: 960px;  /*modifed*/
  border-left: #6a933e;
  border-width: 10px;
  border-left-style: solid;
 }
 p{
   padding-top: 1.2%;
 }
 .icon-left{
   opacity: 0.6;
   margin-left: 5%;
   margin-top: 10px;
   padding-top: -30px;
 }
 .admin-tbl table{
  
  width: 95%;
  margin-bottom: 1rem; 
  
 }
 .admin-tbl{
  display: flex;
  margin: 2em auto;
  margin-top: 120px;
  margin-left: 30px;
  height: 50px;
  padding: 10px;
  align-items: center;
  text-align: left;
 }
 .admin-tbl td{
  outline: none;
  border-bottom: 1px solid #000;
  color:  #3b503d;
  font-size: 17px;
  padding: 15px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;  
}
.admin-tbl th{
  font-size: 1.2em;
  padding:10px;
  background-color:#cccfcd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
  text-align: center;
}
 