
.view-tbl1
{
  display: flex;
  margin: 2em auto;
  background:/* #2f323a*/#ffffff;
  background-size: cover;
  border:none;
  width:85%;
  padding: 0px;
  align-items: center;
  text-align: center;

  float:top; 
 
}

  .main-box1 {
    border: 25px solid#3b503d;
    display: flex;
    margin: 2em auto;
    width: 85%;
    background: whitesmoke;
    background-size: cover;
     margin-left: 20%;
     margin-top: 0%;
     text-align: center;
         
     }
  
     .sub-box1{
      padding: 1em;
     margin: 2em auto;
      height: 50%;
      border:10px black;
      float: left;
    }
  
     .box-down1{
       padding: 1em;
       margin-left: 20%;
       margin-right: 20%;
       
     }

     
.content1{
    width: calc(100% - 250px);
    margin-top: 100px;
    padding: 20px;
    margin-left: 50px;
  
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
    margin-left: 20%;
  }
 

  .lbl2{
   margin: 10px;
    display: inline-block;
    text-align: right;
    font: bolder;
    align-content: right;
  }

 input[type=text1] {
    width: 80px;
    height: 40px;
  padding: 2px 2px;
  margin: 8px 0;
  display: inline-block;;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  }
