

html,body, div, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 
}
/*.center {
    margin: auto;
    width: 100%;
    border: 3px solid #007042;
    padding: 10px;
    text-align: center;
    color: black;
  
  }*/
  /*.content{
    background-color: white;

  }*/
  .subcontent{
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color:#2f323a;
    text-align: center;
  }

  *{
    list-style: none;
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
  }
  .views{
    margin-left: 60px;
    font-size: 22px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  .buttons{
     background-color:#3b503d ;
  }
  

  .wrapper{
    display: flex;
    orientation: landscape;
    margin-top: -80px;
    justify-content: center;
    align-items: center;
    
    
  }
   

  .list_wrap{
    background-color: gray(56, 53, 53);
    box-shadow: -1px -1px 60px 10px rgb(58, 94, 73) inset;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 5px;
    margin-left: 900px;  /*modifed*/
    background: darkblue(0,0,0,0.4);
    width: 350px;     /*modified*/
    margin-top: -370px;  /*modifed*/
    /* orientation: portrait; */
    height:520px;    /*modified*/
    /* margin-left: -200px; */
    /*box-shadow: -1px -1px 60px 10px black inset;*/
  }

  .list_wrap ul li{
    background:#3b503d;
    margin-top: 2px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 15px 15px;
   width: 220px; /*modified*/
    padding-right:1px ;
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px; /*modified*/
    border-radius: 50px;
    position: -webkit-sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
     
  }
  .list_wrap ul li :last-child{
    margin-bottom: 0;
  }
 
  .dash1{
    color: black;
    
    background-color: gray(56, 53, 53);
    box-shadow: -1px -1px 60px 10px rgb(58, 94, 73) inset;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 5px;
    width: 300px;    /*modifed*/
    height: 200px;   /*modifed*/
    margin-top: 30px;  /*modifed*/
    margin-left: 60px;  /*modifed*/
    
  }

  .dash2{
    color: black;
    background-color:  gray(56, 53, 53);
    box-shadow: -1px -1px 60px 10px rgb(58, 94, 73) inset;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 5px;
   width: 300px;   /*modifed*/
  height: 200px;  /*modifed*/
  margin-top: -200px;  /*modifed*/
  margin-left: 450px;  /*modifed*/
  }
   
 .dash{
   font-size: 25px;  /*modifed*/
   margin-left: 8%;
  padding-top: 30px;  /*modifed*/
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  /*modifed*/
  }
  
  .dash3{
    color: black;
    background-color: gray(56, 53, 53);
    box-shadow: -1px -1px 60px 10px rgb(58, 94, 73) inset;
   
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 5px;
    width: 300px;  /*modifed*/
  height: 200px;  /*modifed*/
  margin-top: 50px;  /*modifed*/
  margin-left: 60px;  /*modifed*/
  }

  .dash4{
    color: black;
    background-color: gray(56, 53, 53);
    box-shadow: -1px -1px 60px 10px rgb(58, 94, 73) inset;
  
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 5px;
    width: 300px;  /*modifed*/
  height: 200px;  /*modifed*/
  margin-top: -200px;  /*modifed*/
  margin-left: 450px;  /*modifed*/
  }
 
  p{
    padding-top: 1.2%;
  }
  .footer{
    text-align: center;
 /* position:absolute;*/
  /*bottom:0;*/
  width:104%;
  background:#2f323a;
  height:37px;
  margin-top: 250px;   /*modified*/
  margin-left: -2%;
  } 
  .icon-right{
    opacity: 0.2;
    color: rgb(28, 43, 28);
    margin-left: 65%;
    margin-top: -12%;
  }
    


  
 
 



  
 
 
