.email-tbl
{
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin: 2em auto;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    border:none;
    width:80%;
    padding: 2em;
    align-items: center;
    text-align: center;
    opacity: 90%;
}
.email-tbl table{
    width:96%;
    border:2px solid #000000;
}

.email-tbl th
{
    font-size: 1.2em;
    padding:10px;
    background-color: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
}
.email-tbl td{
    font-size: 1em;
    padding: 10px;
    text-align:;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
}

#email-tr
{
    background-color: #ffffff;
    height: 1em;
}

.bold
{
    font-weight: bolder;
    font-size: 1em;
}


#email-select
{
    
    width:97%;
    font-weight: bold;
    padding:0.8em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color:#ffffff;
}

#email-text
{       
    height: 2em;
    width:100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color:#ffffff;
}

#email-textarea
{
    
    width:100%;
    font-size: 18px;
    height: 8em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color:#ffffff;
    resize: none;
}
