.reminderitems-tbl{
    display: flex;
    margin: 2em auto;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    border:none;
    width:70%;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-right: 9rem;
}


#tbl-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;  /*modified*/
    color: #000;
    font-weight: bold;
    margin-top: 10px;       
    font-size: 25px;
    /*margin-right: 7rem;*/

}
td{
    width:20%;
    padding: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
th{
   
    height: 50px;
    font-size: 20px;
    background-color: #4a746e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.searchs{
    padding:10px;
    margin: 2em auto;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    border: 1px solid #ccc;
    width: 72%;
    overflow: hidden;
    background-color: #e9e9e9;
    text-align: center;
    margin-right: 9rem;
}

.searchs input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    widows: 80%;
    height: 30px;
    width:95%;
    font-family: Arial, Helvetica, sans-serif;
}
/*.footerc{
    text-align: center;
 
    width:105%;
    background:#2f323a;
    height:37px;
    
    margin-left: -2%;
    margin-top:280px ;
}*/
p{
    padding-top: 1.2%;
  }
.footerh{  /*return item*/
    text-align: center;
   
    width:103.5%;
    background:white;
    height:50px;
    
    margin-left: -2%;
    margin-top:600px ;
}
