.page
{
  margin: 1em auto;
  background:/* #2f323a*/#fff;
  background-size: cover;
  border:none;
  width:85%;
  padding: 20px;
  opacity: 80%;
}

.nav-bar
{
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2em auto;
    background:/* #2f323a*/#eef3ef;
    background-size: cover;
    border:none;
    width:85%;
    padding: 20px;
    opacity: 90%;
}
table{
  width: 100%;
}
.center-btn
{
  text-align: center;
  margin-left:100px ;
  margin-right: auto;
}

.button-bar
{
  width:40%;
  height:1em;
}
.date-bar
{
  width:60%;
  height:1em;
  background-color: #e2e5e3;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }
.button
{
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px;
    background-color: #007042;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bolder;
    color: #fff;
    
}
a:hover
{
  background-color:#61ca7d;
}
.right
{
    margin-right: 2em;
    float:right;
}
#h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
    text-align: center;
    color: #007042;
    font-weight: bold;
    margin-top: 10px;   
    margin-bottom: 2px;  
    font-size: 25px; 
}
#view-tbl1
{
  margin-top: 2px;
  margin-bottom: 80px;
}

input[type="date"]{
  background-color: #e2e5e3;
  font-size: 1em;
  color: #000000;
  width: 25%;
  border:none;
  outline: none;
  border-bottom:1px solid #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input:focus {
  outline-width:0.1;
  border-radius:none;
  height: 1.5em;
}
input[type="text"]:disabled {
  outline: none;
  border-bottom: none;
}
.date-lbl{
  color: #007042;
  padding-left: 10px;
}