.center{
  
    /* margin-top: auto;
     margin-left: 172px;
     width: 60%;
     border: #007042;*/
   margin-left: 320px; /*add*/
   width: 50%;  /*modified*/
   border: 3px solid #007042;
   padding: 10px;
   text-align: center;
 }
 .centers {
   margin-left: -4px;
   width: 75%;
   border: 3px solid #007042;
   padding: 10px;
   text-align: center;
 
 }
 .image{
   margin-left: 320px; /*modified*/
   padding: 10px;
   width: 65%;   /*add*/
   border: #007042;
   
 }
 
  body {
   font-family: Arial;
 }
 
 * {
   box-sizing: content-box;
 }
 .content{
   background-color: #c8cf94;
 }
 
 form.example input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 1px solid grey;
   float: left;
   width: 80%;
   background: #f1f1f1;
 }
 
 form.example button {
   float: left;
   width: 12%;
   padding: 10px;
   background: #2f323a;
   color: white;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer;
 }
 
 form.example button:hover {
   background: #c8cf94;
 }
 
 form.example::after {
   content: "";
   clear: both;
   display: table;
 }
 /*.footer{
   text-align: center;
   margin-left: 200px;
 }*/
 p{
   padding-top: 1.2%;
 }
 
 .footer{
   text-align: center;
  /* position:absolute;*/
   /*bottom:0;*/
   width:105%;
   background:#2f323a;
   height:38px;
   margin-top: 300px; /*modified*/
   margin-left: -3%;
 }
 
