.center{
  
    /* margin-top: auto;
     margin-left: 172px;
     width: 60%;
     border: #007042;*/
   margin-left: 320px; /*add*/
   width: 50%;  /*modified*/
   border: 3px solid #007042;
   padding: 10px;
   text-align: center;
 }
 .centers {
   margin-left: -4px;
   width: 610px;
   height: 250px;
   border: 3px solid #007042;
   padding: 10px;
   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
 }
 .image{
   margin-left: 320px; /*modified*/
   padding: 10px;
   width: 65%;   /*add*/
   border: #007042;
   
   
   
 }
 
 * {
   box-sizing: content-box;
 }
 /*.content{
   background-color:rgb(244, 248, 247);
 }*/
 
 form.example input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 1px solid grey;
   float: left;
   width: 80%;
   background: #f1f1f1;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }
 
 form.example button {
   float: left;
   width: 12%;
   padding: 10px;
   background: #007042;
   color: white;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
 }
 
 form.example button:hover {
   background: #61ca7d;
 }
 
 form.example::after {
   content: "";
   clear: both;
   display: table;
 }
 /*.footer{
   text-align: center;
   margin-left: 200px;
 }*/
 p{
   padding-top: 1.2%;
 }
 
 
 
