html, body, div, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /*#76b852
  #007042*/
  a {
    text-decoration: none;
    color: inherit;
    color: #007042;
  }

  .clear {
    clear: both;
  }
  body,html
  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    background: #3b503d/*#007042 /*#2f323a*/;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
  .center {
    margin: auto;
    width: 100%;
    border: 3px solid #007042;
    padding: 10px;
    text-align: center;

  }
  .vertical-center img {
    /*border: 3px solid #007042;*/
    padding: 10px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
      }
  h2{
    font-size: 1.5em;

  }
  .main-container {
    border: 15px solid #c8cf94;
    height: auto;
    display: flex;
    margin: 0em auto;
    width: 50%;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    text-align: center;
    
    
  }
  .main-form{
    border: 25px solid#2f323a;
    display: flex;
    margin: 1em auto;
    width: 80%;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
  }
  
  .sub-container {
    padding: 1em;
    width: 50%;
    margin: 1em auto;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #000000;
    font-weight: 100;
    width: 94.5%;
    height: 0.6em;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(0, 0, 0, 0.37);
    
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
  
  input.text, input.email, input.text.w3lpass {
    margin: 1em 0;
  }
  input[type="radio"]{
    padding:10px;
    margin: 10px;
  }
  .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(0, 0, 0);
    font-size: .9em;
    -webkit-transform: translateY(-30px); /*type karann patan gaddi wachane ayin karnawa*/
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
  }
  
  ::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: 100;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    color: rgb(0, 0, 0);
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(0, 0, 0);
  }
  
  :-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }
  
  input[type="submit"] {
    font-size: 1em;
    font-weight: bolder;
    color: #ffffff;
    background: #007042;
    outline: none;
    border: 1px solid #007042;
    cursor: pointer;
    padding: 0.8em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
  
  input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    opacity: 0.85;
  }
  
  .sub-container p {
    flex: 50%;
  padding: 10px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .sub-container p a {
    color: #000000;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
  }
  
  .sub-container p a:hover {
    color: #01502f;
  }
  
  /*-- //main --*/
  /*-- checkbox --*/
  .wthree-text label {    /*black box and the remaining text part*/
    float: left;
    color: #2f323a;
    font-size: 0.9em;
    color: #000000;
    font-weight: 200;
    cursor: pointer;
    position: relative;
  }
  
  input.checkbox {
    float: left;

    background:#007042;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
  }
  
  input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
  }
  
  input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid rgb(0, 0, 0);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: rgb(0, 0, 0);
    border-top-color: transparent;
    border-right-color: transparent;
  }

  .footer{
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    /*background:#2f323a;*/
    height:35px;
  }
  .header{
    margin: 2em 0 1em;
    text-align: left;
  
  }
  .footer p {
    font-size: .9em;
    color: #ffffff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 100;
  }
  
#reg-main {
  width: 70%;
}
#img-sub
{
  width: 30%;
}
.left h5{
  text-align: left;
}
#left-label
{
  float: left;
  color: #007042;
  font-size: small;
}
#left-p
{
  float: left;
  font-size: 0.9em;

}
.right
{
  text-align: right;
}
.right h6 a:hover {
  color: #005331;
}
.sub-container h6 a {
  color: #000000;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  transition: .5s all;
  font-weight: 400;
}

.sub-container h6 a:hover {
  color: #014d2d;
}

a:hover
{
  color:#02b96d;
}