input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #000000;
    font-weight: 100;
    width: 94.6%;
    display: block;
    border: none;
    padding: 0.8em;
    background: #ccc;

    font-family: 'Roboto', sans-serif;
}

.update-tbl
{
    display: flex;
    margin: 2em auto;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    border:none;
    width:60%;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-top: 50px;  /*add*/
}
#tbl-heading
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
    text-align: left; /*modified*/
    color: #000;
    font-weight: bold;
    margin-top: 10px;       /*reshani*/
    font-size: 25px;      /*reshani*/
}
td{                                  
    /*reshani*/
    padding: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
th{                  
    /*reshani*/
    font-size: 20px;
    background-color: #4a746e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="submit"] {
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background: #4a746e;
    outline: none;
    border: 1px solid #007042;
    cursor: pointer;
    padding: 0.3em;
    -webkit-appearance: none;
    width: 50%;
    margin: 0.5em 0;
    letter-spacing: 4px;
}
 input[type="submit"]:hover {      /*reshani*/
   -webkit-transition: .5s all;
   -moz-transition: .5s all;
   -o-transition: .5s all;
   -ms-transition: .5s all;
    transition: .5s all;
    background:#007042;
}
.add_button
{
    right: 0px;
    border: 3px solid #000000;
    padding: 10px;

    background-color: #007042;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bolder;
    color: #fff;
}
.footerc{   /*reshani*/
    text-align: center;
    width:105%;
    background:#2f323a;
    height:37px;
    
    margin-left: -2%;
    margin-top:280px ;
}

