input[type="text"], input[type="email"], input[type="password"] ,input[type="number"]{
    font-size: 0.9em;
    color: #000000;
    font-weight: 100;
    width: 94.6%;
    display: block;
    border: none;
    padding: 0.8em;
    background:#eef3ef;

    font-family: 'Roboto', sans-serif;
}

.update-tbl
{
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin: 2em auto;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    border:none;
    width:85%;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-top: 50px;  /*add*/
}
#tbl-heading
{
    
    margin-left:3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
    text-align: left; /*modified*/
    color: #007042;
    font-weight: bold;
    margin-top: 20px;       /*reshani*/
    font-size: 2em;      /*reshani*/
}
td{                                  
    /*reshani*/
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
th{                  
    /*reshani*/
    
    font-size: 20px;
    color: white;
    background-color: #007042;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="submit"] {
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background: #4a746e;
    outline: none;
    border: 1px solid #007042;
    cursor: pointer;
    padding: 0.3em;
    -webkit-appearance: none;
    width: 50%;
    margin: 0.5em 0;
    letter-spacing: 4px;
}
 input[type="submit"]:hover {      /*reshani*/
   -webkit-transition: .5s all;
   -moz-transition: .5s all;
   -o-transition: .5s all;
   -ms-transition: .5s all;
    transition: .5s all;
    background:#61ca7d;
}
.add_button
{
    right: 0px;
    border: 3px solid #000000;
    padding: 10px;

    background-color: #007042;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bolder;
    color: #fff;
    
}
.add_button:hover{
    background-color:#61ca7d;
}
p{
    padding-top: 1.2%;
  }
.footerc{   /*reshani*/
    text-align: center;
    color: black;
    width:103.4%;
    background:white;
    height:50px;
    margin-left: -2%;
    margin-top:280px ;
}
.new
{
    margin-right:5em;
    float: right;
    margin-bottom:2em;
}
