input[type="text"], input[type="email"], input[type="password"] ,input[type="number"],input[type="date"]{
    font-size: 1em;
    color: #000000;
    font-weight: 100;
    width: 94.6%;
    display: block;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
}
.update-tbl table{
    border: 3px solid #000;
    width: 100%;
    margin-bottom: 1rem;
}
.update-tbl
{
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin: 2em auto;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    border:none;
    width:85%;
    padding: 20px;
}
.update-tbl tbody tr:nth-child(odd) {
    background-color: #fff;
}

.update-tbl tbody tr:nth-child(even) {
    background-color: #eef3ef;
}
.update-tbl th{
    font-size: 1.2em;
    padding:10px;
    background-color:#cccfcd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/

}
.update-tbl td{
    font-size: 1em;
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/

}


input[type="submit"] {
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background: #007042;
    outline: none;
    border: 1px solid #007042;
    cursor: pointer;
    padding: 0.3em;
    -webkit-appearance: none;
    width: 50%;
    margin: 0.5em 0;
    letter-spacing: 4px;
}
 input[type="submit"]:hover {      /*reshani*/
   -webkit-transition: .5s all;
   -moz-transition: .5s all;
   -o-transition: .5s all;
   -ms-transition: .5s all;
    transition: .5s all;
    background:#61ca7d;
}

p{
    padding-top: 1.2%;
  }


