body{
    background-color:rgb(238, 238, 238);
}

#tbl-heading
{    
    margin-left:3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/
    text-align: left; /*modified*/
    color: #007042;
    font-weight: bold;
    margin-top: 20px;       /*reshani*/
    margin-bottom: 20px;       
    font-size: 2em;      /*reshani*/
}
.new
{
    margin-right:5em;
    float: right;
    margin-bottom:2em;
}


/* add button ----------------------*/
.add_button
{
    right: 0px;
    padding: 10px;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #eef3ef;
    background-color: #007042;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bolder;
    color: #fff;
}


.add_button:hover{
    background-color:#61ca7d;
}
/*------------------------------------*/

.view-tbl table{
    border: 3px solid #000;
    width: 100%;
    margin-bottom: 1rem;
}

.view-tbl tbody tr:nth-child(odd) {
    background-color: #fff;
}

.view-tbl tbody tr:nth-child(even) {
    background-color: #eef3ef;
}


.view-tbl th{
    font-size: 1.2em;
    padding:10px;
    background-color:#cccfcd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/

}
.view-tbl td{
    font-size: 1em;
    padding: 10px;
    text-align: center;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*modified*/

}

.view-tbl
{
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin: 2em auto;
    background:/* #2f323a*/#ffffff;
    background-size: cover;
    border:none;
    width:85%;
    padding: 20px;
    align-items: center;
    text-align: center;
    opacity: 90%;
   }

   #tbl-icon{
    color:#007042;
   }

/*-------------------------------------------------
/* The switch - the box around the slider *
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox *
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007042;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007042;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders 
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
-------------------------------------------------------------*/


/* search bar -----------------------------------------------*/
.search
{
    padding:10px;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2em auto;
    background-size: cover;
    border: 1px solid #c1e9d8;
    width: 85%;
    overflow: hidden;
    background-color: white;
    text-align: center;
}
.search input[type=text] {
    padding: 6px;
    background-color:  #eef3ef;
    border: none;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
    width:96%;
    widows: 80%;
    height: 30px;
}
/*-----------------------------------------------------------------*/


/*user activate message*/
.alert {
    padding:10px;
    margin: 2em auto;
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: #c1e9d8;
    width:60%;
    height:40px;
    opacity: 0.7;
}

.deact{
    background-color: rgb(244, 67, 54,0.85);
    border-radius: 15px;
    border: 1px solid #fff ;
}
.act{
    background-color: rgb(0, 112, 66,0.85);
    border-radius: 15px;
    border: 1px solid #fff ;
}

.activebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.footer{
    /* position:absolute;*/
     /*bottom:0;*/
     opacity: 0.75;
     text-align: center;
     color:#007042;
     font-weight: bolder;
     width:103.4%;
     background:white;
     height:50px;
     margin-left: -2%;
    margin-top:280px ;
    font-family: 'Times New Roman', Times, serif;
    
  }/*
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
   

  }
  
  ul li {*/
    /*margin-left: 70px;*/
   /* display: block;
    position: relative;
    float: left;
    background: #007042;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000
  }
  li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #61ca7d; }

li:hover > ul {
    display: block;
    position: absolute;
  }
  
  li:hover li { float: none; }
  
  li:hover a { background:#007042; }
  
  li:hover li a:hover { background: #61ca7d; }
  
  .main-navigation li ul li { border-top: 0; }

  ul ul ul {
    left: 100%;
    top: 0;
  }
  ul:before,
ul:after {
  content: " "; 
  display: table; 
}

ul:after { clear: both; }*/
